<p id="notice"><%= notice %></p>
<h1>Cart Item</h1>
<!-- <script src="http://localhost/assets/js/ZeroClipboard.js"></script>  -->

<div id="cart">
  <%= render "cart" %>
</div>

<style type="text/css">
  #myform {
    text-align: center;
    padding: 5px;
    border: 1px dotted #ccc;
    margin: 2%;
}
.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}
</style>