<nav class="navbar navbar-expand-lg p-3 mb-2 bg-info text-white" >
  <li class="nav-item">
    <a class="navbar-brand" href="/admin">Commerce</a></a>
  </li>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navb">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link <% if params[:controller] == "home" && params[:action] == "index" %>active<% else %><% end %>" href="/">Home</a></li>

    <li class="nav-item"><a class="nav-link <% if params[:controller] == "products" && params[:action] == "index" %>active<% else %><% end %>" href="/admin/products">Product</a></li>
    <li class="nav-item"><a class="nav-link <% if params[:controller] == "categories" && params[:action] == "index" %>active<% else %><% end %>" href="/admin/categories">Category</a></li>

    <li class="nav-item"><a class="nav-link <% if params[:controller] == "products" && params[:action] == "deleted_product" %>active<% else %><% end %>" href="/admin/deleted_product">Soft Deleted Product</a></li>

    <li class="nav-item"><a class="nav-link <% if params[:controller] == "users" && params[:action] == "index" %>active<% else %><% end %>" href="/admin/users">User</a></li>

      <% if user_signed_in? %>
    <li class="nav-item"><a class="nav-link" href="/users/sign_out"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
    <% else %>
    </li>
    <li class="nav-item"><a class="nav-link" href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li class="nav-item"><a class="nav-item" href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    <% end %>
    </li>
  </div>
</nav>
<div class="FlashNotice">
  <% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %> fade in">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <%= value %>
  </div>
  <% end %>
</div>
<style>
  .FlashNotice .alert{
  margin-bottom: 0px;
  }
  .active{
    background-color: #007bff;
    color: #fff !important;
    border-radius: 5px;
  }
</style>